{{ define "main" }}

<div class="product-container">
  <div class="product-images">
    <img class="product-image" src="{{ .Params.image }}" />
    {{ range .Params.extra_images }}
      <img class="product-image" src="{{ . }}" />
    {{ end }}
  </div>
  <div class="product-description">
    <a class="close" href="javascript:history.back()"><img src={{ "images/icon_close.svg" | relURL }} /></a>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <table>
      <tr>
        <th>materiaal:</th><td>{{ .Params.material }}</td>
      </tr>
      <tr>
        <th>prijs:</th><td>{{ .Params.price }}</td>
      </tr>
    </table>
    <button
      class="snipcart-add-item"
      data-item-id="2"
      data-item-name="{{ .Params.title }}"
      data-item-price="{{ .Params.price }}"
      data-item-url="{{ .Permalink }}">
        <img src={{ "images/icon_buy.svg" | relURL }} />
        Ik wil dit sierraad kopen
    </button>
  </div>
</div>

{{ end }}